@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?y3e8mg");
  src: url("fonts/icomoon.eot?y3e8mg#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?y3e8mg") format("truetype"),
    url("fonts/icomoon.woff?y3e8mg") format("woff"),
    url("fonts/icomoon.svg?y3e8mg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gs-hyperlink:before {
  content: "\e960";
}
.icon-gs-finger-clic:before {
  content: "\e950";
}
.icon-gs-lacentrale .path1:before {
  content: "\e95d";
  color: rgb(200, 33, 39);
}
.icon-gs-lacentrale .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-lacentrale .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-mappy .path1:before {
  content: "\e935";
  color: rgb(53, 158, 3);
}
.icon-gs-mappy .path2:before {
  content: "\e936";
  margin-left: -1.1318359375em;
  color: rgb(0, 52, 107);
}
.icon-gs-zoomcar .path1:before {
  content: "\e937";
  color: rgb(70, 71, 71);
}
.icon-gs-zoomcar .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(17, 175, 228);
}
.icon-gs-zoomcar .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(253, 254, 255);
}
.icon-gs-ouestFrance .path1:before {
  content: "\e93b";
  color: rgb(237, 28, 36);
}
.icon-gs-ouestFrance .path2:before {
  content: "\e93c";
  margin-left: -0.77734375em;
  color: rgb(34, 64, 134);
}
.icon-gs-ouestFrance .path3:before {
  content: "\e940";
  margin-left: -0.77734375em;
  color: rgb(34, 64, 134);
}
.icon-gs-ouestFrance .path4:before {
  content: "\e941";
  margin-left: -0.77734375em;
  color: rgb(34, 64, 134);
}
.icon-gs-ouestFrance .path5:before {
  content: "\e942";
  margin-left: -0.77734375em;
  color: rgb(34, 64, 134);
}
.icon-gs-promoneuve .path1:before {
  content: "\e943";
  color: rgb(0, 145, 255);
}
.icon-gs-promoneuve .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-promoneuve .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-promoneuve .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-promoneuve .path5:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-pagesJaunes .path1:before {
  content: "\e948";
  color: rgb(255, 238, 0);
}
.icon-gs-pagesJaunes .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-gs-pagesJaunes .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-gs-garagescore .path1:before {
  content: "\e94b";
  color: rgb(67, 185, 173);
}
.icon-gs-garagescore .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5020;
}
.icon-gs-garagescore .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-garagescore .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-google-long .path1:before {
  content: "\e92d";
  color: rgb(55, 128, 255);
}
.icon-gs-google-long .path2:before {
  content: "\e930";
  margin-left: -3.0634765625em;
  color: rgb(56, 177, 55);
}
.icon-gs-google-long .path3:before {
  content: "\e931";
  margin-left: -3.0634765625em;
  color: rgb(250, 57, 19);
}
.icon-gs-google-long .path4:before {
  content: "\e932";
  margin-left: -3.0634765625em;
  color: rgb(252, 189, 6);
}
.icon-gs-google-long .path5:before {
  content: "\e933";
  margin-left: -3.0634765625em;
  color: rgb(55, 128, 255);
}
.icon-gs-google-long .path6:before {
  content: "\e934";
  margin-left: -3.0634765625em;
  color: rgb(250, 57, 19);
}

.icon-gs-google .path1:before {
  content: "\e929";
  color: rgb(249, 187, 22);
}
.icon-gs-google .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(97, 134, 196);
}
.icon-gs-google .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(46, 179, 74);
}
.icon-gs-google .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(239, 68, 55);
}
.icon-gs-geometric-square:before {
  content: "\e928";
}
.icon-gs-loading:before {
  content: "\e927";
}
.icon-gs-user-anonymous:before {
  content: "\e925";
}
.icon-gs-garage-car:before {
  content: "\e9be";
}
.icon-gs-repair:before {
  content: "\e9bf";
}
.icon-gs-car-old:before {
  content: "\e9c0";
}
.icon-gs-car:before {
  content: "\e9c1";
}
.icon-gs-help-question-circle:before {
  content: "\e9bd";
}
.icon-gs-web-share-lock:before {
  content: "\e9b5";
}
.icon-gs-calendar-check:before {
  content: "\e9b6";
}
.icon-gs-web-share-block:before {
  content: "\e9b8";
}
.icon-gs-web-share-correct:before {
  content: "\e9b9";
}
.icon-gs-calendar-disable:before {
  content: "\e9ba";
}
.icon-gs-calendar-warning:before {
  content: "\e9bb";
}
.icon-gs-calendar-block:before {
  content: "\e9bc";
}
.icon-gs-sad-checked:before {
  content: "\e9ad";
}
.icon-gs-car-repair-checked:before {
  content: "\e9ae";
}
.icon-gs-alert-warning-circle:before {
  content: "\e9af";
}
.icon-gs-validation-check-circle:before {
  content: "\e9b0";
}
.icon-gs-alert-information-circle:before {
  content: "\e9b3";
}
.icon-gs-login-password-false:before {
  content: "\e9b4";
}
.icon-gs-cloud-upload:before {
  content: "\e9ac";
}
.icon-gs-folder:before {
  content: "\e9ab";
}
.icon-gs-folder-remove:before {
  content: "\e9aa";
}
.icon-gs-web-mail:before {
  content: "\e9a4";
}
.icon-gs-web:before {
  content: "\e9a5";
}
.icon-gs-time-hour-glass:before {
  content: "\e9a6";
}
.icon-gs-alertes:before {
  content: "\e99a";
}
.icon-gs-alert-alarm-bell-set-time:before {
  content: "\e9a7";
}
.icon-gs-web-share:before {
  content: "\e9a8";
}
.icon-gs-setting-slider:before {
  content: "\e9a9";
}
.icon-gs-folder-details:before {
  content: "\e998";
}
.icon-gs-user-alert:before {
  content: "\e999";
}
.icon-gs-file-folder:before {
  content: "\e99b";
}
.icon-gs-unlock:before {
  content: "\e99c";
}
.icon-gs-lock:before {
  content: "\e99e";
}
.icon-gs-folder-check:before {
  content: "\e99f";
}
.icon-gs-cash-bag-euro:before {
  content: "\e9a0";
}
.icon-gs-help-customer-support:before {
  content: "\e9a1";
}
.icon-gs-programming-time:before {
  content: "\e997";
}
.icon-gs-search:before {
  content: "\e990";
}
.icon-gs-garage:before {
  content: "\e991";
}
.icon-gs-desktop-star:before {
  content: "\e992";
}
.icon-gs-database:before {
  content: "\e993";
}
.icon-gs-car-repair:before {
  content: "\e994";
}
.icon-gs-chat-bubble:before {
  content: "\e995";
}
.icon-gs-gauge-dashboard:before {
  content: "\e996";
}
.icon-gs-send:before {
  content: "\e98f";
}
.icon-gs-user-work-laptop:before {
  content: "\e98c";
}
.icon-gs-user-question:before {
  content: "\e98d";
}
.icon-gs-user-queen-crown:before {
  content: "\e98e";
}
.icon-gs-sad:before {
  content: "\e988";
}
.icon-gs-straight:before {
  content: "\e989";
}
.icon-gs-happy:before {
  content: "\e98a";
}
.icon-gs-time-setting:before {
  content: "\e98b";
}
.icon-gs-target:before {
  content: "\e986";
}
.icon-gs-cog:before {
  content: "\e987";
}
.icon-gs-full-screen:before {
  content: "\e980";
}
.icon-gs-windowed:before {
  content: "\e981";
}
.icon-gs-tablet:before {
  content: "\e982";
}
.icon-gs-mobile:before {
  content: "\e984";
}
.icon-gs-computer:before {
  content: "\e985";
}
.icon-gs-arrows-data-transfer:before {
  content: "\e97e";
}
.icon-gs-play:before {
  content: "\e97f";
}
.icon-gs-calenda-setting:before {
  content: "\e968";
}
.icon-gs-calendar:before {
  content: "\e976";
}
.icon-gs-cloud-download:before {
  content: "\e977";
}
.icon-gs-customer:before {
  content: "\e97c";
}
.icon-gs-edit-user:before {
  content: "\e92f";
}
.icon-gs-home:before {
  content: "\e952";
}
.icon-gs-user:before {
  content: "\e957";
}
.icon-gs-evols:before {
  content: "\e914";
}
.icon-gs-stats:before {
  content: "\e915";
}
.icon-gs-group:before {
  content: "\e90f";
}
.icon-gs-leave:before {
  content: "\e910";
}
.icon-gs-reset-password:before {
  content: "\e911";
}
.icon-gs-add-user:before {
  content: "\e912";
}
.icon-gs-add-outline-circle:before {
  content: "\e913";
}
.icon-gs-others:before {
  content: "\e90e";
}
.icon-gs-trash:before {
  content: "\e90c";
}
.icon-gs-edit:before {
  content: "\e90d";
}
.icon-gs-arrow-bend-down-right:before {
  content: "\e90b";
}
.icon-gs-add:before {
  content: "\e907";
}
.icon-gs-file-multiple:before {
  content: "\e908";
}
.icon-gs-phone-email:before {
  content: "\e909";
}
.icon-gs-setting-toggle:before {
  content: "\e90a";
}
.icon-gs-eye:before {
  content: "\e904";
}
.icon-gs-pencil:before {
  content: "\e905";
}
.icon-gs-share-hand:before {
  content: "\e906";
}
.icon-gs-car-repair-pin:before {
  content: "\e903";
}
.icon-gs-brand {
  display: inline-block;
}
.icon-gs-brand .brand-color:before {
  color: #f36233 !important;
}
.icon-gs-brand .path1:before {
  content: "\e900";
  color: rgb(21, 37, 67);
}
.icon-gs-brand .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(67, 185, 173);
}
.icon-gs-brand .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-bold:before {
  content: "\eaf1";
}
.icon-gs-cancel:before {
  content: "\eaf2";
}
.icon-gs-center-align:before {
  content: "\eaf3";
}
.icon-gs-copy:before {
  content: "\eaf5";
}
.icon-gs-italic:before {
  content: "\eaf7";
}
.icon-gs-justified:before {
  content: "\eaf8";
}
.icon-gs-left-align:before {
  content: "\eaf9";
}
.icon-gs-restore:before {
  content: "\eafa";
}
.icon-gs-right-align:before {
  content: "\eafb";
}
.icon-gs-underline:before {
  content: "\eafe";
}
.icon-gs-uppercase:before {
  content: "\eaff";
}
.icon-gs-down-circle:before {
  content: "\eb1e";
}
.icon-gs-left-circle:before {
  content: "\eb1f";
}
.icon-gs-right-circle:before {
  content: "\eb20";
}
.icon-gs-up-circle:before {
  content: "\eb21";
}
.icon-gs-close-circle:before {
  content: "\eb22";
}
.icon-gs-filter-solid:before {
  content: "\eb0d";
}
.icon-gs-down-caret:before {
  content: "\eb0e";
}
.icon-gs-left-caret:before {
  content: "\eb0f";
}
.icon-gs-right-caret:before {
  content: "\eb10";
}
.icon-gs-up-caret:before {
  content: "\eb11";
}
.icon-gs-money-card:before {
  content: "\eb12";
}
.icon-gs-facebook:before {
  content: "\eb15";
}
.icon-gs-language:before {
  content: "\eb16";
}
.icon-gs-linkedin:before {
  content: "\eb17";
}
.icon-gs-add-circle:before {
  content: "\eb18";
}
.icon-gs-sitemap:before {
  content: "\eb19";
}
.icon-gs-spinner:before {
  content: "\eb1a";
}
.icon-gs-twitter:before {
  content: "\eb1b";
}
.icon-gs-youtube:before {
  content: "\eb1d";
}
.icon-gs-logo-picto {
  display: inline-block;
}
.icon-gs-logo-picto .path1:before {
  content: "\ea08";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-gs-logo-picto .path2:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-gs-logo-picto .path3:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-gs-logo-picto .path4:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-gs-at-symbol:before {
  content: "\ea0b";
}
.icon-gs-link:before {
  content: "\e9e7";
}
.icon-gs-equal:before {
  content: "\e9e4";
}
.icon-gs-progress-up:before {
  content: "\e9e5";
}
.icon-gs-progress-down:before {
  content: "\e9e6";
}
.icon-gs-moto-checked:before {
  content: "\e9e3";
}
.icon-gs-help:before {
  content: "\e9e1";
}
.icon-gs-book-open:before {
  content: "\ea00";
}
.icon-gs-moto-old:before {
  content: "\e9dc";
}
.icon-gs-moto-old-checked:before {
  content: "\e917";
}
.icon-gs-moto:before {
  content: "\e9dd";
}
.icon-gs-truck-old:before {
  content: "\e9de";
}
.icon-gs-truck:before {
  content: "\e9df";
}
.icon-gs-GS-R2 {
  display: inline-block;
}
.icon-gs-GS-R2 .path1:before {
  content: "\e9d9";
  color: rgb(72, 72, 72);
}
.icon-gs-GS-R2 .path2:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-GS-R2 .path3:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-GS-R1 {
  display: inline-block;
}
.icon-gs-GS-R1 .path1:before {
  content: "\e9d6";
  color: rgb(33, 154, 181);
}
.icon-gs-GS-R1 .path2:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-GS-R1 .path3:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gs-dislike:before {
  content: "\ea10";
}
.icon-gs-user-full-body:before {
  content: "\e96e";
}
.icon-gs-profile:before {
  content: "\e96f";
}
.icon-gs-graph-bar:before {
  content: "\e971";
}
.icon-gs-enquete:before {
  content: "\e973";
}
.icon-gs-concession:before {
  content: "\e974";
}
.icon-gs-pin-car-repair-2:before {
  content: "\e916";
}
.icon-gs-bike:before {
  content: "\e91b";
}
.icon-gs-truck-checked:before {
  content: "\e918";
}
.icon-gs-truck-old-checked:before {
  content: "\e91e";
}
.icon-gs-web-mail-block:before {
  content: "\e920";
}
.icon-gs-phone-block:before {
  content: "\e921";
}
.icon-gs-location-pin:before {
  content: "\e922";
}
.icon-gs-shopping-bag:before {
  content: "\e924";
}
.icon-gs-ok-bubble:before {
  content: "\e926";
}
.icon-gs-like:before {
  content: "\e92e";
}
.icon-gs-printer:before {
  content: "\e939";
}
.icon-gs-key:before {
  content: "\e923";
}
.icon-gs-star:before {
  content: "\e93d";
}
.icon-gs-map-flag:before {
  content: "\e93f";
}
.icon-gs-file-text:before {
  content: "\e91f";
}
.icon-gs-close-outline-circle:before {
  content: "\e94d";
}
.icon-gs-close:before {
  content: "\e953";
}
.icon-gs-right:before {
  content: "\e954";
}
.icon-gs-left:before {
  content: "\e955";
}
.icon-gs-arrow-up:before {
  content: "\e956";
}
.icon-gs-arrow-down:before {
  content: "\e958";
}
.icon-gs-arrow-right:before {
  content: "\e959";
}
.icon-gs-arrow-left:before {
  content: "\e95a";
}
.icon-gs-up:before {
  content: "\e95b";
}
.icon-gs-down:before {
  content: "\e95c";
}
.icon-gs-checked:before {
  content: "\e964";
}
.icon-gs-groupe-bubble:before {
  content: "\e965";
}
.icon-gs-cadnat-bubble:before {
  content: "\e966";
}
.icon-gs-avis-bubble:before {
  content: "\e967";
}
.icon-gs-checked-bubble-2:before {
  content: "\e9c8";
}
.icon-gs-half-star {
  display: inline-block;
}
.icon-gs-half-star .path1:before {
  content: "\e93e";
  color: rgb(188, 188, 188);
}
.icon-gs-half-star .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(245, 205, 21);
}
.icon-gs-car-old-checked:before {
  content: "\e9ec";
}
.icon-gs-car-checked:before {
  content: "\e9ed";
}
.icon-gs-block:before {
  content: "\e9b1";
}
.icon-gs-user-square:before {
  content: "\e9b2";
}
