#app-loading{
  text-align: center
}

#app-loading i{
  margin-right: 10px;
  margin-top: 35px;
}

#app-loading div{
  display: inline-block;
  line-height: 43px;
  vertical-align: top;
  margin-top: 35px;
}
td.no-result-msg{
  text-align: center;
  color: #595959;
  font-size: 16px;
  padding-top: 20px!important;
}
.loading-bar{
  background-color: rgba(72,72,72,0.2);
  text-align: center;
  position: absolute;
  top: 150px;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.not-showed{
  display: none;
}

.garage-name a, .garage-name a:hover, .garage-name a:focus {
  color: white;
}
.garage-name a:hover {
  text-decoration: underline;
}
.flag-showDirectoryPage {
  color: #559a0c;
}
.flag-hideDirectoryPage {
  color: #de454b;
}
.switch-button{
  display: inline-block;
  width: 58px;
  height: 30px;
  text-align: center;
  position: relative;
  left: -12px;
  top: 2px;
  border: 1px solid #219ab5;
  color: #219ab5;
  border-radius: 4px;
  vertical-align: top;
}
.switch-button i{
  padding: 5px;
}
.switch-button i.active{
  background-color: #219ab5;
  color: white;
}
.switch-button:hover{
  cursor: pointer;
}

.bold-gs {
  font-weight: bold;
}

.bold-hover:hover{
  font-weight: bold;
}

button:focus, button:hover {outline:none;}

.clickable-button:hover{
  cursor: pointer!important;
}
.first-col.clickable:hover, .third-col.clickable:hover{
  cursor: pointer!important;
  background-color: rgba(214, 177, 88, 0.7);
}
td.second-col.clickable{
  border-radius: 5px;
  padding-top: 35px;
  vertical-align: top;
}
.second-col.clickable:hover {
  cursor: pointer!important;
  background-color: rgb(209, 199, 168);
}

/*.third-col.clickable:hover:before, .third-col.clickable:focus:before, .third-col.clickable:active:before {*/
  /*width: 25px;*/
  /*height: 25px;*/
/*}*/
.first-col.clickable:before, .third-col.clickable:before, .second-col.clickable:before {
  pointer-events: none;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-top: -10px;
  border-radius: 5px 0 5px 0;
  border-bottom: 1px solid #ababab;
  border-right: 1px solid #ababab;
  /*top: 0;*/
  /*left: 0;*/
  background: white;
  background: linear-gradient(135deg, black 45%, #aaa 50%, #ccc 56%, transparent);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  z-index: 5;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.second-col.clickable:before {
  margin-top: -35px;
}

.special-word{
  background-color: #eded00;
}

.first-body-row{
  margin-top: 40px;
  position: relative;
  top: 8px;
}

.star-container {
  display: inline-block;
}
.star-container-mobile{
  display: none;
}
.score-header-container{
  text-align: right;
}

html{
  min-width: 500px;
}
.main-stat td {
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.main-stat td.red-border {
  border: 1px solid #d14836;
  border-radius: 5px;
}
.main-stat td.orange-border {
  border: 1px solid #e9b330;
  border-radius: 5px;
}
.main-stat td.green-border {
  border: 1px solid #16a765;
  border-radius: 5px;
}

.main-stat {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.main-stat .first-col {
  width: 35%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main-stat .first-col-2, .main-stat .third-col-2 {
  width: 33%;
  padding: 15px;
  vertical-align: top;
}

.main-stat .third-col .right-cont,
.main-stat .first-col .right-cont {
  display: inline-block;
  width: 100%;
}

.main-stat .third-col .right-cont .pull-right,
.main-stat .first-col .right-cont .pull-right {
  display: inline-block;
  width: calc( 100% - 53px);
}

.main-stat .third-col {
  width: 35%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main-stat .second-col {
  background-color: #ffffff;
}

.main-stat .second-col .row:after, .main-stat .second-col .row:before {
  content: none;
}

.main-stat .second-col.red {
  background-color: #d14836;
  vertical-align: top;
}

.main-stat .second-col.green {
  background-color: #16a765;
  vertical-align: top;
}
.main-stat .second-col .green-text {
  color: #16a765;
}
.main-stat .second-col.yellow {
  background-color: #ffcc00;
  vertical-align: top;
}
.main-stat .second-col .yellow-text {
  color: rgb(214, 177, 108);
}
.main-stat .second-col .blue-text {
  color: #219ab5;
}

.main-stat .second-col .cat-title {
  margin-left: 30px;
}

.main-stat .second-col .float-icon {
  float: left;
  margin-left: 46px;;
}

.main-stat .second-col .float-icon2 {
  float: left;
  margin-left: 30px;;
}
.main-stat .second-col .float-numbers {
  margin-left: 115px;
}
.main-stat .second-col .float-numbers2 {
  margin-left: 85px;
}
.main-stat .second-col .second-col-data-numbers {
  display: inline-block;
  width: 55px;
  font-size: 18px;
  text-align: right;
}
.main-stat .second-col .subscribe-link {
  text-decoration: underline;
  cursor: pointer;
}
.main-stat .second-col .big-font-size {
  font-size: 32px;
  font-weight: bold;
}

.main-stat .second-col .normal-font-size {
  font-size: 14px;
  font-weight: bold;
}

.main-stat .second-col .small-font-size {
  font-size: 10px;
  font-weight: bold;
}

.size-XXXL {
  font-size: 32px;
}

.size-XXL {
  font-size: 24px;
}

.size-XL {
  font-size: 20px;
}

.size-L {
  font-size: 18px;
}

.size-M {
  font-size: 16px;
}

.size-S {
  font-size: 14px;
}

.size-13 {
  font-size: 13px;
}

.size-XS {
  font-size: 12px;
}

.size-XXS {
  font-size: 10px;
}

.vertical-bottom {
  line-height: 32px;
  vertical-align: bottom;
}

h3, h2 {
  margin: 0;
  padding: 0;
}

.light-grey-2 {
  color: #ededed;
}
.light-grey-3 {
  color: #e6e6e6;
}

.small-text{
  font-size:12px;
}

.stat-icon{
  margin-left: 4px;
  margin-top: 30px;
}

.survey-score, .list-button {
  border-radius: 3px;
  padding: 0;
  width: 25px;
  height: 23px;
  border: none;
  background-color: transparent;
  font-size: 10px;
}
.list-lead-transfo-type {
  font-weight: 500;
  font-size: 10px;
  color: #595959;
}
.green-gs, i.fa.green-gs {
  color: #16a765;
}
.bg-green-gs {
  background-color: #16a765!important;
}
.survey-score.green-gs {
  border: 1px solid #16a765;
}
.border-green-gs {
  border: 1px solid #16a765;
  border-radius: 10px;
  padding: 10px 32px;
  margin: 0 15px;
}
.list-button.green-gs.selected, .list-button.green-gs:hover {
  background-color: #16a765;
  color: white;
}
.red-gs, i.fa.red-gs {
  color: #d14836;
}
.bg-red-gs {
  background-color: #d14836!important;
}
.border-red-gs {
  border: 1px solid #d14836;
  border-radius: 10px;
  padding: 10px 32px;
  margin: 0 15px;
}
.survey-score.red-gs {
  border: 1px solid #d14836;
}
.list-button.red-gs.selected, .list-button.red-gs:hover {
  background-color: #d14836;
  color: white;
}
.orange-gs, i.fa.orange-gs {
  color: #e9b330;
}
.bg-orange-gs {
  background-color: #e9b330!important;
}
.border-orange-gs {
  border: 1px solid #e9b330;
  border-radius: 10px;
  padding: 10px 32px;
  margin: 0 15px;
}
.survey-score.orange-gs {
  border: 1px solid #e9b330;
}
.list-button.orange-gs.selected, .list-button.orange-gs:hover {
  background-color: #e9b330;
  color: white;
}
.grey-gs {
  color: grey;
}
.grey-gs-6 {
  color: #c3c3c3;
}
.grey-gs-4, i.grey-gs-4 {
  color: #727272;
}
.bg-grey-gs {
  background-color: grey!important;
}
.border-grey-gs-4 {
  border: 1px solid #727272;
  border-radius: 10px;
  padding: 10px 32px;
  margin: 0 15px;
}
.grey-gs2 {
  color: #595959;
}
.bg-grey-gs3 {
  color: #e6e6e6;
}
.survey-score.grey-gs {
  border: 1px solid grey;
}
.list-button.grey-gs.selected, .list-button.grey-gs:hover {
  background-color: grey;
  color: white;
}
.gold-gs {
  color: #c9984f;
}
.bg-gold-gs {
  background-color: #c9984f!important;
}
.btn-gold-gs {
  color: #fff;
  background-color: #c9984f;
  border-color: #b18547;
}
.btn-gold-gs:hover {
  color: #fff;
  background-color: #ab8045;
  border-color: #8e6a39;
}
.list-button.gold-gs.selected, .list-button.gold-gs:hover {
  background-color: #c9984f;
  color: white;
}

.special-icon, .special-icon:hover{
  padding: 0px;
  padding-bottom: 0;
}

.survey-score {
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  width: 37px;
}

.ana-button{
  padding: 10px 38px;
  font-size: 16px;
  background-color: #219AB5;
  color: white;
  border: none;
  font-weight: bold;
}
.ana-button:hover{
  background-color: #208da6;
  color: white;
}
.lead-button{
  padding: 10px 38px;
  font-size: 16px;
  background-color: #c9984f;
  color: white;
  border: none;
  font-weight: bold;
}
.lead-button:hover{
  background-color: #b38549;
  color: white;
}

.light-grey {
  color: #d2d2d2;
}

.blue-gs {
  color: #219AB5;
}
a.blue-gs:hover {
  color: #219AB5;
}
.bg-blue-gs {
  background-color: #219AB5!important;
}

.black-gs {
  color: #000000;
}
.bg-black-gs {
  background-color: #000000!important;
}

.btn-blue-gs {
  color: #fff;
  background-color: #219AB5;
  border-color: #1e90a9;
}
.btn-blue-gs:hover {
  color: #fff;
  background-color: #1e90a9;
  border-color: #1b788f;
}


.results-warning{
  margin: 15px auto;
  padding: 5px;
  z-index: 20;
  border-radius: 5px;
  display: block;
  max-width: 992px;
  width: calc(100% - 180px);
  color: white;
  background: #16a765;
  line-height: 20px
}
.results-warning .fa-info-circle {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 3px;
  vertical-align: middle;
}
.results-warning button {
 background: none;
 border:none;
}
#survey-list-template, #garage-list-template {
  background-color: white;
  margin-top: 0;
  width: 100%;
}

/*.survey-lists tr:nth-child(odd), .garage-lists tr:nth-child(odd){*/
  /*background-color: #f3f3f3;*/
/*}*/

.survey-lists, .garage-lists {
  color: black;
  margin-bottom: 0;
}

.survey-lists tr:first-child th, .garage-lists.survey-lists tr:first-child th {
  border-top: none;
}
.garage-lists .garage-lists-header{
  font-size: 12px;
}
.table.survey-lists>tbody>tr>td, .table.garage-lists>tbody>tr>td{
  padding: 20px;
  padding-top: 0;
  border: none;
}
.table.survey-lists>tbody>tr>th, .table.garage-lists>tbody>tr>th{
  padding: 10px 20px;
}
.garage-list-item{
  padding-top: 16px;
}
.customer-info {
  font-size: 13px;
  color: #595959;
  position: relative;
  top: -5px;
}

.filter-text {
  position: relative;
  top: -2px;
}

.customer-comment, .customer-comment-empty {
  margin-left: 5px;
  margin-top: 5px;
  font-style: italic;
  display: block;
}
.customer-comment {
  color: #219AB5;
  font-size: 17px;
}
.customer-garage-name {
  padding-left: 5px;
  display: inline;
}
.customer-transaction {
  color: #727272;
  font-size: 10px;
  margin: 5px;
  margin-top: 12px;
}
.customer-comment-empty {
  color: #929292;
  font-size: 14px;
}

i.grey {
  color: grey;
}
i.blue {
  color: blue;
}
.public-review-container {
  padding: 20px;
}
.expand-transition {
  transition: all .9s ease;
  /*padding: 10px;*/
  overflow: hidden;
}
.expand-enter, .expand-leave {
  height: 0;
  /*padding: 0 10px;*/
  opacity: 0;
}
.score-container {
  background-color: #219AB5;
  padding: 10px 6px;
  text-align: center;
  width: 90px;
  margin-right: 4px;
  display: inline-block;
}

.score-container p {
  font-size: 12px;
  color: white;
}
.sp-column.score-container {
  background-color: #c9984f;
  width: 90px;
  margin-right: 6px;
}

.score-container .score-number {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}

.left-margin {
  margin: 1em 0 1em 1em;
}

.left-margin2 {
  margin: 1em 0 1em 2em;
}

.left-margin3 {
  margin: 1em 0 1em 3em;
}

.light-left-margin {
  margin-left: 10px;
}
.juridic-content {
  font-size: 10px;
  text-align: justify;
  color: #727272;
}
.text-grey {
  color: #999;
}
.text-red {
  color: #f66;
}
.score-block {
  padding: 0;
  margin-bottom: 10px;
  display: inline-block;
  min-width: 291px;
}
.clic-comment a,
.clic-comment a:hover {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.rating-progress-scale-7, .rating-progress-scale-8, .rating-progress-scale-9, .rating-progress-scale-10 {
  color: #64b7cb;

}
.rating-progress-scale-5, .rating-progress-scale-6 {
  color: #aaa;
}
.rating-progress-scale-3, .rating-progress-scale-4 {
  color: #777;
}
.rating-progress-scale-0, .rating-progress-scale-1, .rating-progress-scale-2 {
  color: #777;
}
.rating-progress-scale-score-7, .rating-progress-scale-score-8, .rating-progress-scale-score-9, .rating-progress-scale-score-10 {
  color: #64b7cb;
  border: 1px solid #64b7cb;
  border-radius: 3px;
  font-weight: bold;
}
.rating-progress-scale-score-5, .rating-progress-scale-score-6 {
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-weight: bold;
}
.rating-progress-scale-score-3, .rating-progress-scale-score-4 {
  color: #777;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-weight: bold;
}
.rating-progress-scale-score-0, .rating-progress-scale-score-1, .rating-progress-scale-score-2 {
  color: #777;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-weight: bold;
}
.rating-progress-scale-score-7.selected, .rating-progress-scale-score-8.selected, .rating-progress-scale-score-9.selected, .rating-progress-scale-score-10.selected {
  background: #64b7cb;
  color: white;
}
.rating-progress-scale-score-5.selected, .rating-progress-scale-score-6.selected{
  background: #aaa;
  color: white;
}
.rating-progress-scale-score-3.selected, .rating-progress-scale-score-4.selected {
  background: #777;
  color: white;
}
.rating-progress-scale-score-0.selected, .rating-progress-scale-score-1.selected, .rating-progress-scale-score-2.selected {
  background: #777;
  color: white;
}

.garagescore-garage-directory-page-trophy-L {
  text-align: center;
  position: relative;
  top: 5px;
}

.garagescore-garage-directory-page-trophy-L img {
  margin-top: -6px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.phone-icon{
  margin-top: 18px;
  font-size: 18px;
}

.star-container{
  display: inline-block;
  width: 110px;
  text-align: left;
  padding-top: 10px;
}
.garagescore-garage-tab-stars{
  display: inline-block;
  position: relative;
  top: 10px;
}
.garagescore-garage-tab-label-2{
  position: relative;
  top: 3px;
}
.garagescore-garage-tab-label,
.garagescore-garage-tab-label-2{
  line-height: 6px;
  font-size: 10px;
}
.garagescore-garage-directory-page-trophy {
  width: 35px;
  display: inline-block;
}

.garagescore-garage-directory-page-trophy img {
  margin-top: -2px;
  width: 35px;
  height: 35px;
}


.star:before{
  font-family: FontAwesome;
  content: "\f006";
  font-size:20px;
}

.star-full:before{
  content: "\f005";
}
.star-half:before{
  content: "\f123";
}

.garagescore-garage-tab-stars .star{
  display: inline-block;
  line-height: 5px;
}

.garagescore-garage-tab-stars .star:before{
  color: #e7711b;
  font-size: 10px;
}
.survey-list-header, .garage-list-header{
  font-size: 10px;
  font-weight: normal;
  background-color: #e6e6e6;
}
.survey-list-header-tr, .garage-list-header-tr {
  height: 70px;
}
.survey-list-header-fixed, .garage-list-header-fixed{
  position: fixed;
  top: 35px;
  z-index: 10;
  width: 100%;
  margin: 0;
}
.survey-list-header .header-column,.garage-list-header .header-column{
  text-align: center;
}
.garage-list-header-item, .survey-list-header-item{
  padding: 0;
  color: #727272;
}
.garage-list-header-item .text-title{
  padding-right: 3px;
}
.survey-header-button{
  background-color: transparent;
  border: none;
  padding-top: 3px;
  color: #727272;
}
.survey-header-button.showed i.grey-gs3,.survey-header-button.showed:hover i.grey-gs3{
  color: #727272;
  border-radius: 3px;
}
.survey-header-button.showed,.survey-header-button.showed:hover,
.survey-header-button.showed i,.survey-header-button.showed:hover i{
  color: #ffffff;
  border-radius: 3px;
}
.survey-header-button.selected,.survey-header-button.selected:hover{
  background-color: #219AB5 ;
  color: #ffffff;
  border-radius: 3px;
}

i.font-18, .font-18{
  font-size: 18px;
}

i.font-24, .font-24{
  font-size: 24px;
}

i.font-16, .font-16{
  font-size: 16px;
}
/*.survey-header-icon{*/
  /*font-size: 10px;*/
/*}*/
.collapsable-container{
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 15px;
  margin-left: 20px;
  background-color: #e6e6e6;
}
.comment-container{
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 15px;
  padding: 15px;
  background-color: #e6e6e6;
}
.comment-area{
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 15px;
  padding: 15px;
  background-color: #e6e6e6;
  width: calc(100% - 30px);
}
.collapsable-container-2{
  border: 2px solid lightgray;
  border-radius: 7px;
  margin: 15px;
  margin-left: 20px;
  background-color: white;
}
.back-icon {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.pagination-button-right-container, .pagination-button-left-container {
  display: inline-block;
  width: calc(50% - 40px);
}
.pagination-button-right-container{
  text-align: left;
}
.pagination-button-left-container{
  text-align: right;
}
.pagination-btn {
  margin: 3px;
}
.pagination-btn:focus, .pagination-btn:hover {
  outline:none;
}
.current-page, .current-page:hover{
  color: white;
  background-color: #219ab5;
  display: inline-block;
  cursor:default;
}

.report-public-review-btn, .report-public-review-form {
  background-color: white;
  float: right;
  margin-bottom: 20px;
  width: 305px;
}
.report-public-review-form textarea{
  margin: 10px;
  width: calc( 100% - 20px);
}
.report-public-review-form button{
  float: right;
  margin: 10px;
}
.report-public-review-form label{
  font-size: 10px;
  font-weight: normal;
  padding-left: 13px;
  padding-right: 13px;
  text-align: justify;
  margin-top: 10px;
}

.report-public-review-btn {
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s; /* Safari */
  transition:transform 0.5s;
}

.report-public-review-btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.overflow-hidden-elepsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis
}

@media (max-width: 768px) {
  .col-xs-0, .xs-hide {
    display: none;
  }
  .star-container{
    position: relative;
    left: 20px;
  }
  .star-container-mobile{
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .score-header-container{
    text-align: center;
  }
  .garage-list-header-like,
  .garage-list-header-etabliss{
    height: 60px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .score-column {
    padding-left: calc(5% - 18px);;
  }
  .survey-lists .container-fluid, table.garage-lists .container-fluid{
    padding: 10px!important;
  }
  .survey-lists .container, table.garage-lists .container{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .report-public-review-btn, .report-public-review-form {
    float: left;
  }
}

@media (min-width: 768px) {
  .col-sm-0 {
    display: none;
  }
  .score-column {
    padding-left: 14px;
  }
}

@media (min-width: 992px) {
  .star-container{
    width: 155px;
  }
  .col-sm-0 {
    display: inline-block;
  }
  .star-container .star:before{
    font-size: 12px;
  }
  .garagescore-garage-tab-label, .garagescore-garage-tab-label-2{
    line-height: 10px;
    font-size: 12px;
  }
  .garagescore-garage-directory-page-trophy img {
    width: 50px;
    height: 50px;
    margin-top: -13px;
  }
  .garagescore-garage-directory-page-trophy {
    width: 50px;
  }
  .garagescore-garage-directory-page-trophy .value {
    width: 48px;
    top: 6px;
    font-size: 14px;
  }
  .score-column {
    padding-left: 14px;
  }
}

@media (min-width: 1200px) {
  .score-column {
    padding-left: 24px;
  }
}
